<%- include('../partials/headers') %> 
<div class="container " >

    <div class="form-container">
        <form action="/users/login" method="post">
            <h1>Login</h1>
            <div class="social-container">
                <a href="#" class="social">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="#" class="social">
                    <ion-icon name="logo-googleplus"></ion-icon>
                </a>
                <a href="#" class="social">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </div>
            <span>or use your email for registration</span>
            <%- include('../partials/flashMessages') %> 
            <input type="email" placeholder="Email" name="email" id="email" class="form-control">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">

            <button>Login</button>
        </form>
    </div>
</div>
<%- include('../partials/footer') %> 
